.ReproductionsItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    row-gap: 30px;
}

.item {
    max-width: 350px;
    padding: 20px 0;
    width: 100%;
    background-color: #E1EDE6;
}

.itemWrapper {
    margin-left: 20px;
}

.itemImg {
    margin-bottom: 20px;
    width: 94%;
}

.itemCreator {
    margin-bottom: 10px;
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
}

.itemName {
    margin-bottom: 6px;
    color: #2C2D35;
    font-size: 30px;
    font-weight: 500;
}

.itemSize {
    margin-bottom: 30px;
    color: #2C2D35;
    font-size: 18px;
    font-weight: 500;
}

.itemPrice {
    margin-bottom: 20px;
    color: #598D66;
    font-size: 24px;
    font-weight: 500;
}

.itemBtn {
    max-width: 270px;
    width: 100%;
}

@media (max-width: 1200px) {
    .item {
        max-width: 310px;
    }
    .ReproductionsItems {
        gap: 30px;
        row-gap: 30px;
    }
}
@media (max-width: 1024px) {
    .item {
        max-width: 360px;
    }
    .ReproductionsItems {
        gap: 40px;
        row-gap: 40px;
    }
    .itemBtn {
        max-width: 320px;
    }
}
@media (max-width: 768px) {
    .item {
        max-width: 100%;
    }
    .itemBtn {
        max-width: 432px;
    }
}

@media (max-width: 480px) {
    .itemBtn {
        max-width: 282px;
    }
}