.btn {
    width: 100%;
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 60px;
    gap: 6px;
    flex-shrink: 0;
    background: #EEDB6D;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background: #FAEB97;
    color: #2C2D35;
}

.btn:active {
    background: #D9B949;
    color: #2C2D35;
}