.team {
    margin-top: 70px;
    padding-bottom: 70px;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.teamRight {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 124px;
}

.teamTitle {
    color: #2C2D35;
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
}

.teamText {
    color: #2C2D35;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    max-width: 635px;
    width: 100%;
}

.teamAvatar {
    display: flex;
    gap: 30px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1024px;
    }

    .teamText {
        max-width: 550px;
    }

    .teamImg {
        max-width: 420px;
        width: 100%;
    }

    .teamImg img {
        width: 100%;
    }

    .teamRight {
        margin-top: 100px;
    }
}

@media (max-width: 1024px) {
    .team {
        margin-top: 50px;
    }

    .container {
        max-width: 768px;
        display: block;
    }

    .teamText {
        max-width: 100%;
    }

    .teamImg {
        max-width: 500px;
        width: 100%;
    }

    .teamImg img {
        width: 100%;
    }

    .teamRight {
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 480px;
    }

    .teamRight {
        margin-top: 40px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 320px;
    }
}